@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(111, 63, 0);
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.card {
  max-width: 60%;
  margin: 15px;
  margin-left: auto;
}
